<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <!-- <div class="col-xs-3 col-sm-auto">
         <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
      </div> -->
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">AvailableTickets</th>
      <th scope="col">TicketPrice</th>
      <th scope="col">CurrencyType</th>
      <th scope="col">EventType</th>
      <th scope="col">TourName</th>
      <th scope="col">Location</th>
      <th scope="col">Address</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let concert of concerts">
      <th scope="row">{{ concert.id }}</th>
      <td>{{concert.date}}</td>
      <td *ngIf="concert.availableTickets != 0; else soldOutTemplate">{{concert.availableTickets}}</td>
      <ng-template #soldOutTemplate>
        SOLD OUT
      </ng-template>
      <td>{{concert.ticketPrice}}</td>
      <td>{{concert.currencyType}}</td>
      <td>{{concert.eventType}}</td>
      <td>{{concert.tourName}}</td>
      <td>{{concert.location}}</td>
      <td>{{concert.address}}</td>
      <td>{{concert.country}}</td>
    </tr>
  </tbody>
</table>