<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <!-- <div class="col-xs-3 col-sm-auto">
         <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
      </div> -->
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Is Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.id }}</th>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.activeAccount ? "Yes" : "No"}}</td>
    </tr>
  </tbody>
</table>