<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let genre of genres">
      <th scope="row">{{ genre.id }}</th>
      <td>{{genre.name}}</td>
      <td><button type="button" class="btn btn-primary" (click)="editGenre(genre.id)" *ngIf="adminLoggedIn">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="deleteGenre(genre.id)" *ngIf="adminLoggedIn">Delete</button></td>
    </tr>
  </tbody>
</table>
<div><button type="button" class="btn btn-success" (click)="addGenre()" *ngIf="adminLoggedIn">Add Genre</button></div>