<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">PerformerType</th>
      <th scope="col">Start Year</th>
      <th scope="col">Genre</th>
      <th scope="col">Members</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let performer of performers">
      <th scope="row">{{ performer.id }}</th>
      <td>{{performer.userInfo.firstname}} {{performer.userInfo.lastname}}</td>
      <td>{{performer.performerType}}</td>
      <td>{{performer.startYear}}</td>
      <td>{{performer.genre.name}}</td>
      <td><button type="button" class="btn btn-info" (click)="showArtists(performer.id)" *ngIf="performer.members.length != 0">See members</button></td>
      <td><button type="button" class="btn btn-primary" (click)="editPerformer(performer.id)" *ngIf="adminLoggedIn">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="deletePerformer(performer.id)" *ngIf="adminLoggedIn">Delete</button></td>
    </tr>
  </tbody>
</table>
<div><button type="button" class="btn btn-success" (click)="addPerformer()" *ngIf="adminLoggedIn">Add Performer</button></div>