<div class="wrapper bg-white mt-sm-5">
  <form [formGroup]="editForm">
    <h4 class="pb-4 border-bottom">{{add ? "Create Genre" : "Update Genre"}}</h4>
    <div class="py-2">
      <div class="row py-2">
        <div class="col-md-6">
          <label for="firstname">Genre Name</label>
          <input formControlName="genreName" type="text" class="bg-light form-control" placeholder="Name">
        </div>
      </div>
      <div class="py-3 pb-4 border-bottom">
        <button class="btn btn-primary mr-3" (click)="onSubmitClicked()">{{add ? "Create Genre" : "Update Genre"}}
        </button>
      </div>
      <div class="row" *ngIf="isResponse() && error">
        <div class="alert alert-danger" role="alert">
          {{ responseMessage }}
        </div>
      </div>
      <div class="row" *ngIf="isResponse() && !error">
        <div class="alert alert-success" role="alert">
          {{ responseMessage }}
        </div>
      </div>
    </div>
  </form>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>